@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 14px;
  font-weight: normal;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  color: rgba(14, 14, 14, 0.9);
  text-align: center;
}
h3 {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
h4 {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0em;
}
.otstup {
  text-indent: 25px;
}
/* Не работает! */
.hr {
  width: 110%;
  color: #000;
  size: '0.6px';
}
.container {
  max-width: 500px;
  margin: auto;
}
/* Общая информация ############################################### */
.info {
  margin-bottom: 20px;
  display: flex;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 28px;
  box-shadow: 5px 6px 16px 1px rgba(71, 71, 71, 0.2);
  margin-top: 10px;
}
@media (max-width: 700px) {
  text-align: center;
  display: block;
}
.info-text {
  margin-left: 20px;
}
/* Цели ############################################### */
/* .aims {
} */
/* Временная сетка ############################################### */
.timescreen table {
  width: 45%;
  text-align: right;
}
.timescreen table td:first-child {
  text-align: left;
}
/* Пройденные курсы ############################################### */
.CObody {
  text-align: center;
  width: 90%;
  bottom: none;
}
/* Манипуляция с первой строкой */
.CObody tr:nth-child(1) {
  font-weight: 600;
  /* не работает! */
  margin-bottom: 10px;
  /* не работает! */
  border-bottom: 1px solid #000;
}

/* Контакты ################################################################### */
.contacts table {
  /* column-width: 25%; */
  text-align: center;
  width: 65%;
}
.btn {
  background-color: none;
  width: 40%;
  padding: 1px 2px;
  border: none;
  /* font-family: inherit; */
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

/* ################################################################ */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-size: larger;
}
a:active {
  color: cornflowerblue;
  font-size: x-small;
  text-decoration: none;
}
a:visited {
  color: gray;
}
table {
  margin: 0px auto;
}

.card {
  background-color: rgba(34, 32, 30, 0.05);
  padding: 5px 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card h2 {
  margin-bottom: 10px;
}
.list {
  padding-left: 40;
  margin-bottom: 0;
}
.list li {
  /* color: red; */
  margin-bottom: 1;
  /* border-bottom: 1px solid grey; */
}
